body {
  background-color: white;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #be9c79;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: white;
}

#header {
  width: 100%;
  background: #b39373;
  height: 90px;
  position: relative;
}
#sidebar {
  width: 200px;
  float: left;
  background: #b39373;
  height: 100%;
}

#sidebar h2 {
  font-size: 1em;
  color: black;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}

#header h1 {
  color: black;
  font-size: 3em;
  font-family: comic sans MS;
  text-align: center;
  padding-top: 20px;
}

#welcome {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: black;
}

.log-out {
  text-decoration: none;
  list-style: none;
  margin-left: 90%;
  position: relative;
  top: -50px;
  color: white;
}

.add-new {
  color: white;
  font-size: 16px;
  text-align: left;
}

.view {
  color: white;
  font-size: 16px;
}

.logo1 {
  width: 250px;
  height: 60px;
  position: relative;
  top: 20px;
}

.numbers {
  display: flex;
  color: black;
  font-family: "Montserrat", sans-serif;
  align-items: center;
  font-size: 23px;
}
.p-divs {
  color: black;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
}
.icons-div {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}

.icon-div1 {
  border-bottom: 3px solid rgb(142, 142, 142);
  width: 300px;
  height: 100px;
}

.div11 {
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-spacing: 0;
  width: 70%;
  margin-top: 5%;
  margin-left: 20%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
