body {
  background-color: white;
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #be9c79;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --border: 0.2rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
a {
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: white;
}

#header {
  width: 100%;
  background: #b39373;
  height: 90px;
  position: relative;
}
#sidebar {
  width: 200px;
  float: left;
  background: #b39373;
  height: 100%;
}

#sidebar h2 {
  font-size: 1em;
  color: black;
  font-family: "Montserrat", sans-serif;
  margin-left: 20px;
}

#header h1 {
  color: black;
  font-size: 3em;
  font-family: comic sans MS;
  text-align: center;
  padding-top: 20px;
}

#welcome {
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: black;
}

.log-out {
  text-decoration: none;
  list-style: none;
  margin-left: 90%;
  position: relative;
  top: -50px;
  color: white;
}

.log-out {
  text-decoration: none;
  list-style: none;
  margin-left: 90%;
  position: relative;
  top: -50px;
  color: white;
}

.add-new {
  color: white;
  font-size: 16px;
  text-align: left;
}

.view {
  color: white;
  font-size: 16px;
}

.logo1 {
  width: 250px;
  height: 60px;
  position: relative;
  top: 20px;
}

.order {
  position: relative;
  left: 20px;
  top: 20px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
}
.div01 {
  width: 400px;
  height: 150px;
  border-top: 3px solid blue;
  background: rgb(239, 228, 228);
  border-radius: 13px;
}

.h3 {
  color: gray;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  margin-top: 30px;
}
.order-status {
  color: gray;
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  margin-left: 15px;
  margin-top: 10px;
}

.order-numbers {
  color: black;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
}
.div2 {
  border-top: 3px solid orange;
  border-radius: 13px;
  background: rgb(239, 228, 228);
  width: 400px;
  height: 150px;
}

.div3 {
  border-top: 3px solid red;
  border-radius: 13px;
  background: rgb(239, 228, 228);
  width: 400px;
  height: 150px;
}

.inside-div1 {
  background: red;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.inside-div2 {
  background: rgb(7, 191, 7);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.inside-div3 {
  background: rgb(176, 10, 176);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.inside-div4 {
  background: grey;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.div-order-status {
  position: relative;
  left: 20px;
}

.pp {
  position: relative;
  left: 20px;
  width: 300px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 14px;
}
.divs-of-divs {
  display: flex;
  justify-content: space-around;
  position: relative;
  top: 20px;
}

table {
  border-spacing: 0;
  width: 70%;
  margin-top: 5%;
  margin-left: 20%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
